<table border="1" width="100%" *ngIf="latestData.length">
  <tr>
    <th>Currency Pair</th>
    <th>Bid Price</th>
    <th>Offer Price</th>
    <th>High</th>
    <th>Low</th>
    <th>Open</th>
  </tr>
  <tr *ngFor="let data of latestData">
    <td class="default">
      {{data.currencyPair}}
    </td>
    <td class="{{ getTableClass(data.trends.bidPrice)}}">
      {{data.bidPrice}}
    </td>
    <td class="{{ getTableClass(data.trends.offerPrice)}}">
      {{data.offerPrice}}
    </td>
    <td class="{{ getTableClass(data.trends.high)}}">
      {{data.high}}
    </td>
    <td class="{{ getTableClass(data.trends.low)}}">
      {{data.low}}
    </td>
    <td class="default">
      {{data.open}}
    </td>
  </tr>
</table>
<div *ngIf="!latestData.length" align="center">
  <h2>
    Fetching Data From Server. Please Wait.
  </h2>
</div>
